.box {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
}
.date {
  color: white;
}

.rank {
  font-size: 30px;
  font-weight: bold;
  color: yellow;
  display: inline;
}
.description {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#button {
  background-color: black;
}
.time_button {
  border: 1px solid white;
}
.time_button :hover {
  transform: scale(0.01);
  transition-duration: 0.2se;
}
